<!DOCTYPE html>
<html lang="en">
    <!--general info of the webpage-->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content = "width = device - width, initial-scale = 1.0"/>
        <title>ChatBot</title>
        <meta name = "author" content = "Abhay Prasad">
        <!--<link rel ="stylesheet" href = "Simple Chatbot\static\css\style.css" />-->
        "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'Simple Chatbot\static\css\style.css')}}"
    </head>
</html>